.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

/* 禁用狀態的按鈕樣式 */
button:disabled {
  background-color: #d3d3d3; /* 灰色背景 */
  border: 1px solid #ccc; /* 灰色邊框 */
  color: #777; /* 灰色文字 */
  cursor: not-allowed; /* 改變游標顯示為不可點擊 */
}

/* 顯示提示訊息 */
.warning-message {
  color: #ff0000; /* 紅色文字 */
  font-size: 14px;
  margin-top: 10px;
}
/* 讓 p-table 的字變小 */
.p-datatable {
  font-size: 0.8rem; /* 可以根據需求調整 */
}

/* 調整表頭字體 */
.p-datatable thead th {
  font-size: 0.8rem; /* 調整表頭字體大小 */
}

/* 調整表身字體 */
.p-datatable tbody td {
  font-size: 0.8rem; /* 調整表身字體大小 */
}
